130 DIALOGEX 0, 0, 241, 76
STYLE DS_FIXEDSYS | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Alert"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 55, 50, 14 
   CONTROL "", 1006, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 17, 210, 30 
}

131 DIALOGEX 0, 0, 241, 76
STYLE DS_FIXEDSYS | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Confirm"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 55, 50, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 131, 55, 50, 14 
   CONTROL "", 1006, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 17, 210, 30 
}

132 DIALOGEX 0, 0, 241, 76
STYLE DS_FIXEDSYS | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Prompt"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 131, 55, 50, 14 
   CONTROL "", 1006, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 17, 210, 18 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 55, 50, 14 
   CONTROL "", 1005, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 15, 33, 210, 14 
}

133 DIALOGEX 0, 0, 241, 117
STYLE DS_FIXEDSYS | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Authentication Required"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "", 1009, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 7, 215, 25 
   CONTROL "User Name: ", 1007, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 30, 42, 50, 14 
   CONTROL "Password: ", 1008, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 30, 69, 50, 14 
   CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 38, 125, 14 
   CONTROL "", 1011, EDIT, ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 65, 125, 14 
   CONTROL "Log In", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 131, 88, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 88, 50, 14 
}

4500 CURSOR "Cursor_41.cur"

4501 CURSOR "Cursor_42.cur"

4502 CURSOR "Cursor_43.cur"

4503 CURSOR "Cursor_44.cur"

4504 CURSOR "Cursor_45.cur"

4505 CURSOR "Cursor_46.cur"

4506 CURSOR "Cursor_47.cur"

4507 CURSOR "Cursor_48.cur"

4508 CURSOR "Cursor_49.cur"

4509 CURSOR "Cursor_50.cur"

4510 CURSOR "Cursor_51.cur"

4511 CURSOR "Cursor_52.cur"

4512 CURSOR "Cursor_53.cur"

4513 CURSOR "Cursor_54.cur"

4514 CURSOR "Cursor_55.cur"

4515 CURSOR "Cursor_56.cur"

4516 CURSOR "Cursor_57.cur"

4517 CURSOR "Cursor_58.cur"

4518 CURSOR "Cursor_59.cur"

4519 CURSOR "Cursor_60.cur"

IDR_MAINFRAME ICON "Icon_2.ico"

1 24 "Data_3.bin"

